body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3 {
	font-family: 'Space Mono', monospace;
}

#title {
	margin-left: 30px;
	font-family: 'Space Mono', monospace;
	font-size: 200%;
}

#textContainer, #rightContainer {
	margin-left: 30px;
}

#gameContainer {
	background-color: lightGray;
	margin-left: 0px;
	margin-bottom: 15px;
	width: 825px;
}

#button {
	margin: 10px;
}

#blankAnswer {
	display: inline-flex;
}

.userSaved{
	margin-bottom: 20px
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
